/** Login **/

.login img {
  height: 10rem;
  width: 12.8rem;
  margin-top: 9rem;
  margin-bottom: 11.3rem;
  margin-left: 11rem;
}

.login input {
  display: block;
  margin-bottom: 1rem;
  width: 100%;
  height: 5rem;
  padding-left: 4.3rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #f7f7f7;
  font-size: 1.5rem;
}

.login input:focus {
  outline: none;
  background-color: #303f9f33;
}

.user {
  background-image: url(../img/User.svg);
  background-repeat: no-repeat;
  background-size: 2.5rem;
  background-position: 0.7rem center;
}

.password {
  background-image: url(../img/Password.svg);
  background-repeat: no-repeat;
  background-size: 2.5rem;
  background-position: 0.7rem center;
}

.recuperacion {
  display: flex;
  justify-content: right;
  margin-bottom: 5rem;
  font-size: 1.2rem;
}

.recuperacion a {
  text-decoration: none;
  color: #1c1939;
}

#mensaje-error {
  font-size: 1.5rem;
  color: red;
  margin-bottom: 1rem;
}

.register {
  margin-top: 2rem;
  font-size: 1.2rem;
}

.register a {
  text-decoration: none;
  font-weight: bold;
  color: #1c1939;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Color de fondo semitransparente */
  backdrop-filter: blur(8px); /* Aplicar filtro de desenfoque */
  z-index: 9998; /* Por debajo del loader pero encima del contenido */
  display: none; /* Oculto por defecto */
}

.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centrar el elemento */
  z-index: 9999; /* Por encima de todo el contenido */
  display: none; /* Oculto por defecto */
}
