html {
  box-sizing: border-box; /* PARTE DEL SNIPET DEL PADDING */
  font-size: 62.5%;
  /* Reset para REMS - 62.5% = 10px de 16px*/
}

*,
*:before,
*:after {
  box-sizing: inherit;
} /* PADDING NO AFECTA AL ANCHO DEL ELEMENTO */

/** Generales **/

.contenedor {
  width: 90%;
  margin: auto;
}

/** Utilidades **/
.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.lato {
  font-family: "Lato", sans-serif;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
}

.center-text {
  text-align: center;
}

/** Botones **/
.boton1 {
  width: 100%;
  height: 5rem;
  background-color: #311b92;
  color: #ffffff;
  border-radius: 0.5rem;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
}

/* CONFIRMACION DE TRANSFERENCIA */

/* HEADER */

.barra {
  padding: 0.3rem 1rem;
  display: flex;
  height: 5rem;
  align-items: end;
  justify-content: space-between;
  box-shadow: 0px 0px 15px #00000040;
  margin-bottom: 3rem;
}

.barra img {
  height: 2rem;
}

.logo img {
  margin-right: 1rem;
  height: 1.4rem;
}

.logo a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: black;
}

.logo p {
  font-size: 1.4rem;
  margin: 0;
}

/* MAIN */

.transfer-unica h1 {
  font-size: 2rem;
}

.progreso {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.linea {
  position: absolute;
  top: 50%;
  width: 25%; /* La mitad del espacio entre las imágenes */
  height: 0.3rem; /* Grosor de la línea */
  background-color: #d7d8da; /* Color de la línea */
  transform: translateY(-50%);
  z-index: -1;
}

.linea:nth-child(2) {
  left: 21%; /* Ajusta el espacio entre la primera y segunda imagen */
  background-color: #02bc8a;
}

.linea:nth-child(4) {
  left: 54%; /* Ajusta el espacio entre la segunda y tercera imagen */
  background-color: #02bc8a;
}

.progreso .ready {
  width: 3rem;
}

.progreso .edit {
  background-color: #507cdd;
  border-radius: 2rem;
  width: 3rem;
}

.progreso .more {
  background-color: #d7d8da;
  border-radius: 2rem;
  width: 3rem;
}

#mensaje {
  margin-top: 0.8rem;
  margin-right: 2.3rem;
  text-align: right;
  color: #507cdd;
}

.transfer-unica p {
  margin-top: 2.9rem;
  font-size: 1.2rem;
  color: #4d4d4d;
}

.transfer-unica p:last-of-type {
  margin: 0;
}

.transfer-unica p span {
  color: #311b92;
}

.metodos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.boton-metodo {
  margin-top: 2rem;
  display: block;
  width: 24.5rem;
  height: 4rem;
}

.boton {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4d4d4d;
}

.boton img {
  margin-right: 1rem;
}

#img-mail {
  margin: 0;
}

.whatsapp {
  color: #507cdd;
}

button {
  margin-top: 27.5rem;
}
