html {
  font-size: 62.5%;
  /* Reset para REMS - 62.5% = 10px de 16px*/
}

/* Contenido */

.formulario {
  margin: 3.5rem 0;
}

.leyenda {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
  color: #ffffff;
  background-color: black;
  padding: 1.5rem;
  border-radius: 2rem 2rem 0 0;
}

.contenido-form {
  border: 1px solid #a0a0a08f;
  border-radius: 2rem;
  box-shadow: 0px 0px 15px #00000040;
  height: 19rem;
}

.resumen-destino {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  height: 13rem;
  padding: 0 1.5rem;
  color: #4d4d4d;
}

.datos-cuenta {
  display: flex;
  align-items: center;
  justify-content: left;
}

.imagen {
  width: 10%;
  background-image: url(../img/ellipse.svg);
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
  color: #ffffff;
}

.datos {
  width: 90%;
  height: 4rem;
  margin-left: 1.5rem;
  padding-top: 0.3rem;
}

.datos p {
  display: block;
  margin: 0.4rem 0;
}

.importe {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
