/* MONTO TRANSFERENCIA UNICA */

/* MAIN */

.transfer-unica h1 {
  font-size: 2rem;
}

.saldo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 3rem;
  padding: 1.5rem;
  background-image: url(../../img/elipseFondoGrande.svg);
  background-repeat: no-repeat;
  background-size: 18rem;
  background-position: -10% -50%;
  background-color: #5252ff;
  height: 20rem;
  color: #ffffff;
  border-radius: 1.5rem;
  text-align: center;
}

.saldo img {
  position: absolute;
  left: -0.2%;
  height: 12.5rem;
  margin-top: -1.7rem;
}

.dinero-disponible {
  display: flex;
  justify-content: space-between;
  max-height: 4rem;
  align-items: center;
}

.texto {
  font-size: 1.2rem;
}

.monto {
  font-size: 1.2rem;
}

.monto-ingresado {
  display: flex;
  justify-content: center;
  align-items: center;
}

.monto-ingresado input {
  height: 4.2rem;
  background-color: transparent;
  border: none;
  font-size: 4rem;
  color: #ffffff;
  text-align: center;
}

.monto-ingresado input:focus {
  outline: none;
}

.monto-ingresado p {
  font-size: 3.8rem;
  color: #ffffff;
  margin: 0;
}

.impuesto {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2.4rem;
  height: 3.5rem;
  border-radius: 0.8rem;
  padding: 0 0.5rem 0 0.5rem;
  background-color: #507cdd33;
  color: #4d4d4d;
}

.imagen {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.imagen p {
  font-size: 1.2rem;
  margin-left: 1rem;
}

.monto-impuesto {
  display: flex;
  justify-content: right;
  align-items: center;
  font-size: 1.2rem;
}

.comentario {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2.4rem;
  height: 3.5rem;
  padding: 0 0.5rem 0 0.5rem;
  border-radius: 0.8rem;
  background-color: #c4c4c433;
}

.comentario input {
  background-color: transparent;
  border: none;
  margin: 0;
  width: 90%;
  color: #4d4d4d;
}

.comentario input:focus {
  outline: none;
}

.formulario button {
  margin-top: 22rem;
}
